In [1]:
import pandas as pd
import numpy as np
import matplotlib as mt

In [2]:
df1 = pd.read_csv('/Users/annapeebles-brown/Downloads/Costa/train.csv', index_col= 0 ) 
df1.shape
df1.head()

,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,r4h2,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
Id,,,,,,,,,,,,,,,,,,,,,
ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,1,...,100,1849,1,100,0,1.000000,0.0,100.0,1849,4
ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,1,...,144,4489,1,144,0,1.000000,64.0,144.0,4489,4
ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,0,...,121,8464,1,0,0,0.250000,64.0,121.0,8464,4
ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,2,...,81,289,16,121,4,1.777778,1.0,121.0,289,4
ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,2,...,121,1369,16,121,4,1.777778,1.0,121.0,1369,4

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9557 entries, ID_279628684 to ID_a38c64491
Columns: 142 entries, v2a1 to Target
dtypes: float64(8), int64(130), object(4)
memory usage: 10.4+ MB

# We want to look at all variables that are objects and convert them to floats. Before we can do that, we need to alter our data. Specifically we need to recode 'no' and 'yes' to 0 and 1.

In [12]:
df1.select_dtypes('object').head()

                idhogar dependency edjefe edjefa
Id
ID_279628684  21eb7fcc1         no     10     no
ID_f29eb3ddd  0e5d7a658          8     12     no
ID_68de51c94  2c7317ea8          8     no     11
ID_d671db89c  2b58d945f        yes     11     no
ID_d56d6f5f5  2b58d945f        yes     11     no

In [21]:
#convert idhogar to float as it is just the HH id 
df1['idhogar'].replace(('yes', 'no'), (1, 0), inplace=True)

In [23]:
df_dep = df1[['parentesco1', 'dependency']]
df_dep.head(5)

              parentesco1  dependency
Id
ID_279628684            1         0.0
ID_f29eb3ddd            1         8.0
ID_68de51c94            1         8.0
ID_d671db89c            0         1.0
ID_d56d6f5f5            0         1.0

In [14]:
df1['dependency'].replace(('yes', 'no'), (1, 0), inplace=True)

In [24]:
#look through to check that changes have been made properly  can delete/not run in final version
df1['dependency'].head()

Id
ID_279628684    0.0
ID_f29eb3ddd    8.0
ID_68de51c94    8.0
ID_d671db89c    1.0
ID_d56d6f5f5    1.0
Name: dependency, dtype: float64

In [18]:
df1['dependency'] = df1['dependency'].astype(np.float64)

In [20]:
#Convert edjefe to float but first convert yes and no to 1 and 0 respectively 
df1['edjefe'].replace(('yes', 'no'), (1, 0), inplace=True)
df1['edjefe'] = df1['edjefe'].astype(np.float64)

In [22]:
#do the same for edjefa
df1['edjefa'].replace(('yes', 'no'), (1, 0), inplace=True)
df1['edjefa'] = df1['edjefa'].astype(np.float64)

we are interested in 'target' which is what we will be looking to predict. We need to know whether there are any missing values (specifically, any household head of household without a target response)

In [28]:
df1['Target'].isnull().values.any()

False

What about any households with a missing head of household? So we want to know whether there are any households where there is no parentesco1==1

In [29]:
df1['parentesco1'].isnull().values.any()

False

In [31]:
df1.groupby(['parentesco1', 'idhogar'] ).filter(lambda group: df1['parentesco1'] != 1)

TypeError: filter function returned a Series, but expected a scalar bool

In [ ]:
#dropping redundant variables that are captured by other variables and/or might be correlated with them 

pd.set_option('display.max_columns', 142)
df1.drop(['rooms', 'r4h1', 'r4h2', 'r4m1', 'r4m2', 'r4t1', 
          'r4t2', 'r4t2', 'r4t3', 'tamhog', 'tamviv', 'hhsize', 
          'estadocivil1', 'estadocivil2', 'estadocivil3', 'estadocivil4', 
          'estadocivil5', 'estadocivil6', 'estadocivil7', 'parentesco2', 
          'parentesco3', 'parentesco4', 'parentesco5', 'parentesco6', 
          'parentesco7', 'parentesco8', 'parentesco9', 'parentesco10', 
          'parentesco11', 'parentesco12', 'hogar_nin', 'hogar_adul', 
          'hogar_mayor', 'hogar_total', 'meaneduc', 'instlevel1', 'instlevel2', 
          'instlevel3', 'instlevel4', 'instlevel5', 'instlevel6', 'instlevel7', 
          'instlevel8', 'instlevel9', 'bedrooms'], inplace=True, axis = 1)

In [ ]:
#now number of features has been reduced to 98
df1.info()
df1.shape